@import url(//db.onlinewebfonts.com/c/63f874d192fb3892d88d5e26f942b5e2?family=DS-Digital);

@font-face {
  font-family: "DS-Digital";
  src: url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.eot");
  src: url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.woff") format("woff"), url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.svg#DS-Digital") format("svg");
}

* {
  font-family: 'DS-Digital', 'Roboto', sans-serif;
  font-size: 28px;
}

body {
  background-color: #000;
}

.container {
  width: 18%;
  margin: auto;
  /*   padding-top: 150px; */
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "formula formula formula formula"
    "display display display display"
    "AC AC divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
  align-items: stretch;
  justify-items: stretch;
  padding: 5px;
  border: 1px solid #FFF;
  background-color: #000;
  border-radius: 6px;
  box-shadow: 1px 1px #FFF, 2px 2px #FFF, 3px 3px #FFF, 4px 4px #FFF;
}

#formula {
  min-height: 30px;
  font-size: 28px;
  grid-area: formula;
  text-align: end;
  color: yellow;
  padding: 0px;
  margin: 0px;
}

#display {
  grid-area: display;
  text-align: end;
  color: white;
  font-size: 35px;
}

.calcBtn {
  background-color: #5d5d5d;
  color: #FFF;
  padding: 25px;
  ;
  border: 1px solid black;
  border-radius: 4px;
}

.calcBtn:active {
  background-color: #3d3d3d;
}

#clear {
  background-color: #a43200;
  grid-area: AC;
}


#nine {
  grid-area: nine;
}

#eight {
  grid-area: eight;
}

#seven {
  grid-area: seven;
}

#six {
  grid-area: six;
}

#five {
  grid-area: five;
}

#four {
  grid-area: four;
}

#three {
  grid-area: three;
}

#two {
  grid-area: two;
}

#one {
  grid-area: one;
}

#zero {
  grid-area: zero;
}

.operator {
  background-color: #4d4d4d;
   !important;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#subtract {
  grid-area: subtract;
}

#add {
  grid-area: add;
}


#decimal {
  grid-area: decimal;
}

#equals {
  background-color: #0c77b0;
  grid-area: equals;
}